* {
  font-size: 1.2rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  gap: 2rem;
  background-color: rgb(167, 139, 97);
}

body > div {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease-in;
  pointer-events: none;
  z-index: 1;
}

.overlay {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.form-sec {
  background-color: rgb(127, 193, 196);
  width: 25rem;
  height: auto;
  padding-top: 0.1rem;
}

.form-sec > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 0.5rem;
}

.form-sec > div:first-child {
  border: 2px solid white;
  border-radius: 50%;
  padding: 0 0.3rem;
  width: fit-content;
  margin-left: auto;
  font-size: 2rem;
  text-align: right;
  cursor: pointer;
}

.form-sec > div:first-child:hover {
  color: crimson;
}

.form-sec > button {
  margin: 2rem 0;
  margin-left: 45%;
}

.main-sec {
  visibility: hidden;
  opacity: 0;
  transition:
    transform 0.5s ease-in,
    opacity 0.5s ease-in;
  z-index: 2;
}

.main-sec.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1.1);
}
